.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  margin: 10px;
  height: 60px;
  width: 60px;
}
.Logo span {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 25px;
}
