.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  height: 70px;
  width: 70px;
}
.Logo span {
  font-family: "Merienda", cursive;
  color: #e4002b;
  font-size: 28px;
  font-weight: bold;
}
