.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  margin: 10px;
  height: 70px;
  width: 70px;
}
.Logo span {
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 2rem;
}
