.Toolbar {
  display: flex;
  justify-content: space-between;

  background-color: rgb(235, 235, 53);
}
.Toolbar nav {
  display: none;
}
@media (min-width: 670px) {
  .Toolbar nav {
    display: block;
  }
}
