.ShawarmaControls {
  background-color: rgb(170, 74, 5);
  width: 280px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  margin: 8px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.55);
  border-radius: 35px;
  padding-bottom: 10px;
}
.ShawarmaControls > BUTTON {
  background-color: rgb(11, 97, 11);
  width: 120px;
  height: 35px;
}
