.Ingredients {
  height: 35px;
  width: 45px;
  box-sizing: border-box;
  
  background-repeat: no-repeat;
}
.tomato {
 background-image: url(../../../../assets/tomato.svg);
}
.cucumber {
  background-image: url(../../../../assets/cucumber.svg);
}
.frenchFries {
  background-image: url(../../../../assets/frenchFries.svg);
}
.cheese {
  background-image: url(../../../../assets/cheese.svg);
}
.meat {
  background-image: url(../../../../assets/meat.svg);
}
.salad {
  background-image: url(../../../../assets/salad.svg);
}
