.NavigationItem a {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 80px;
  box-sizing: border-box;

  text-decoration: none;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 18px;
  border-top: 5px solid transparent;

  transition: all .3s ease-in-out;
}
.NavigationItem a:hover {
  border-top-color: white;
  background-color: rgba(255, 255, 2555, 0.3);
}
.NavigationItem .active {
    border-top-color: white;
    background-color: rgba(255, 255, 2555, 0.1);
  }
  