.Drawer .content {
  width: 250px;
  background-color: #c1c8e4;
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  transition: transform .4s ease-in;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-250px);
}

@media (min-width: 670px) {
  .Drawer  {
    display: none;
  }

}
