.CheckoutForm {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  background-color: rgb(170, 74, 5);
  padding: 20px 20px 0 20px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.75);
}
.CheckoutForm input,
.CheckoutForm select {
  padding: 0.5rem 1em;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  font-size: 1.2rem;
  min-width: 400px;
  margin-bottom: 0.5em;
  background: #e9eff8;
}

.CheckoutForm input:focus,
.CheckoutForm select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) inset;
}
.CheckoutForm button {
  margin: 1em 0;
}
@media (max-width: 600px) {
  .CheckoutForm input,
  .CheckoutForm select {
    min-width: 280px;
  }
  .CheckoutForm {
    padding: 7px 7px 0 7px;
  }
}
