.Button {
  border: none;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 1s;
  margin-bottom: 8px;
  margin-right: 5px;
  margin-left: 10px;
}
.Button:active {
  border-bottom: 1px solid;
  transform: translate(0px, 5px);
}
.Button:disabled {
  opacity: 0.5;
}
.Button:not(:disabled):hover {
  opacity: 0.8;
}
.green {
  background-color: rgb(55, 146, 55);
  color: white;
  border-bottom: 5px solid rgb(86, 206, 96);
  border-radius: 5px;
  margin-left: 10px;
}
.red {
  background-color: red;
  color: white;
  border-bottom: 5px solid rgb(233, 68, 68);
  border-radius: 5px;
  margin-left: 10px;
}
