.Ingredient {
  height: 40px;
  width: 50px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
}
.tomato {
  background-image: url(../../../../assets/tomato.svg);
  width: 55px;
  height: 55px;
}
.cucumber {
  background-image: url(../../../../assets/cucumber.svg);
}
.frenchFries {
  background-image: url(../../../../assets/frenchFries.svg);
}
.cheese {
  background-image: url(../../../../assets/cheese.svg);
}
.meat {
  background-image: url(../../../../assets/meat.svg);
}
.salad {
  background-image: url(../../../../assets/salad.svg);
}
.onion {
  background-image: url(../../../../assets/onion.png);
  height: 50px;
  width: 50px;
}
@media (max-width: 600px) {
  .Ingredient {
    width: 40px;
    height: 40px;
  }
  .tomato {
    width: 45px;
    height: 45px;
  }
  .cucumber {
    width: 35px;
    height: 35px;
  }
  .frenchFries {
    width: 45px;
    height: 45px;
  }
}
