.Ingredient {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
}
.tomato {
  background-image: url(../../../../assets/tomato.svg);
  width: 50px;
  height: 50px;
}
.cucumber {
  background-image: url(../../../../assets/cucumber.svg);
}
.frenchFries {
  background-image: url(../../../../assets/frenchFries.svg);
}
.cheese {
  background-image: url(../../../../assets/cheese.svg);
}
.meat {
  background-image: url(../../../../assets/meat.svg);
  width: 50px;
  height: 50px;
}
.salad {
  background-image: url(../../../../assets/salad.svg);
}
.onion {
  background-image: url(../../../../assets/onion.png);
  height: 50px;
  width: 50px;
}
.ketchup {
  background-image: url(../../../../assets/ketchup.svg);
  width: 110px;
  height: 110px;
  z-index: 5;
}

@media (max-width: 600px) {
  .tomato {
    width: 50px;
    height: 50px;
  }
  .cucumber {
    width: 50px;
    height: 50px;
  }
  .frenchFries {
    width: 50px;
    height: 50px;
  }
}
