.NavItem a {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 70px;
  text-decoration: none;
  font-family: "Merienda", cursive;
  color: #e4002b;
  font-size: 1rem;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}
.NavItem a:hover {
  border-color: #e4002b;
  background-color: rgba(61, 60, 60, 0.1);
}
.NavItem .active {
  border-color: #e4002b;
  background-color: rgba(61, 60, 60, 0.1);
}
@media (max-width: 660px) {
  .NavItem a {
    border: none;
    border-left: 3px solid transparent;
  }
}
