.Ingredients .pita {
  background-color: rgb(233, 233, 145);

  margin: 0 auto;
  width: 400px;
  height: 400px;
  margin: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  overflow: hidden;
  border-radius: 100%;
}
.Ingredients .ingredientPita {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
}
.ingredientPita > .linePita {
  width: 280px;
  height: 5px;
  border-radius: 5px;
  background-color: #75472d;
}
.ingredientPita > .line_Pita {
  width: 200px;
  height: 5px;
  border-radius: 5px;
  background-color: #75472d;
}
.Ingredients .price {
  font-size: 30px;
  font-weight: bold;
  font-family: "Merienda", cursive;
  text-align: center;
  color: #e4002b;
}
@media (max-width: 500px) {
  .Ingredients .pita {
    width: 300px;
    height: 300px;
  }
}
