.Ingredients .pita {
  margin: 0 auto;
  width: 420px;
  height: 420px;
  margin: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  overflow: hidden;
  background-color: rgb(170, 74, 5);
  border-radius: 80px;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.75);
}
.Ingredients .ingredientPita {
  background-color: rgb(233, 233, 145);
  position: relative;
  width: 380px;
  height: 380px;
  border-radius: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.35);
}
.ingredientPita > .linePita {
  width: 240px;
  height: 5px;
  border-radius: 5px;
  background-color: #75472d;
}
.ingredientPita > .line_Pita {
  width: 160px;
  height: 5px;
  border-radius: 5px;
  background-color: #75472d;
}
.Ingredients .price {
  font-size: 30px;
  font-weight: bold;
  font-family: "Merienda", cursive;
  text-align: center;
  color: #e4002b;
}
@media (max-width: 500px) {
  .Ingredients .pita {
    width: 300px;
    height: 300px;
  }
  .Ingredients .ingredientPita {
    width: 280px;
    height: 280px;
  }
  .ingredientPita > .linePita {
    width: 180px;
  }
  .ingredientPita > .line_Pita {
    width: 120px;
  }
}
