.ShawarmaIngredients .pita {
  border: 3px solid black;
  background-color: rgb(235, 235, 137);
  width: 540px;
  height: 540px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
}
.ShawarmaIngredients .price {
  font-size: 30px;
  font-weight: bold;
}
