.ShawarmaControl {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.ShawarmaControl .label {
  color: yellow;
  font-family: cursive;
  padding: 10px 5px;
  font-size: 20px;
}
.ShawarmaControl button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
  color: green;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}
.ShawarmaControl button:disabled {
  opacity: 0.5;
}
.ShawarmaControl button:not(:disabled):hover {
  opacity: 0.8;
}
