.ShawarmaControl {
  box-sizing: border-box;
  margin-top: 3px;
  display: flex;
  align-items: center;
}
.ShawarmaControl .label {
  color: white;
  font-family: cursive;
  padding: 10px 5px;
  font-size: 20px;
  font-family: "Merienda", cursive;
}
.ShawarmaControl button {
  width: 25px;
  height: 25px;
  border: white 1px solid;
  color: black;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-duration: 0.3s;
}

.ShawarmaControl button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #602b17;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.3s;
  border-radius: 6px;
}
.ShawarmaControl button:hover,
.ShawarmaControl button:focus,
.ShawarmaControl button:active {
  color: white;
}
.ShawarmaControl button:hover:before,
.ShawarmaControl button:focus:before {
  transform: scaleY(1);
}

.ShawarmaControl button:focus {
  outline: none;
}
.ShawarmaControl button:disabled {
  opacity: 0.5;
}
.ShawarmaControl button:not(:disabled):hover {
  opacity: 0.8;
}
